<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-2">
  <h1>
    Task:<strong>
      <%= @task.name %>
    </strong>
  </h1>

  <p class="well">
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <p>
    <strong>Prize:</strong>
    <%= @task.prize %>€
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @task.deadline %>
  </p>
  <div class="group">
    <span class="highlight"></span>
    <span class="bar"></span>
    <% form_tag '/tasks/#{@task.id}/submit' do %>
      <%=label_tag 'Github link' %>
      <%=text_field_tag 'link'%>
      <div><%= submit_tag 'Submit' %></div>
    <% end %>
  </div>
</div>
