<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-2">
  <h1>
    Task:<strong>
      <%= @task.name %>
    </strong>
  </h1>

  <p class="well">
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <p>
    <strong>Prize:</strong>
    <%= @task.prize %>€
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @task.deadline %>
  </p>
  <p>
    <strong>Github link:</strong>
    <%= @task.link %>
  </p>

  <h2>Submit solution</h2>

  <div class="group">
    <span class="highlight"></span>
    <span class="bar"></span>
    <%= form_for @submission do |f| %>
      <%= f.hidden_field(:task_id, :value => @task.id) %>
      <%=f.text_area :code %>
      <%=f.label 'Code' %>
      <div><%= submit_tag 'Submit' %></div>
    <% end %>
  </div>
</div>
