<p id="notice"><%= notice %></p>

<h1>Listing Rounds</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Bet time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.start_time %></td>
        <td><%= round.bet_time %></td>
        <td><%= round.end_time %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
