<!DOCTYPE html>
<html background=black>
<link href='https://fonts.googleapis.com/css?family=Raleway|Montserrat|Roboto:400,700' rel='stylesheet' type='text/css'><head>
  <title>CodeEarn̛</title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav navbar-inverse">
  <%= link_to 'CodeEarn', root_path, class: "navbar-brand" %>
  <div class="pull-right">
    <% if current_user %>
      <%= link_to 'Play', play_path, class: "btn navbar-btn" %>
      <%= link_to 'My account', current_user, class:"btn navbar-btn" %>
      <%= link_to 'Sign out', logout_path, class:"btn navbar-btn" %>
    <% else %>
      <%= link_to 'Login', login_path, class: "btn navbar-btn" %>
    <% end %>
  </div>
</nav>
<%= yield %>

</body>
</html>
